@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* Banner Section */

.bg-banner{
    background: rgba(38, 70, 83, 1);
    padding: 70px;

}


.banner-text p{
    color: rgba(224, 224, 224, 1);
}
.banner-text h1{
    font-weight: 600;
    font-size: 48px;
}
.banner-text button{
    background-color: rgba(231, 111, 81, 1);
    color: white;
    width: 168px;
    height: 44px;
}

/* Banner Section End*/

/* Bike Section */

.bike section{
    margin-top: 10px;
    margin-bottom: 60px;
}
.bike-section img{
    width: 288px;
    height: 243px;
}
  .bike-color{
    filter: grayscale(100%);

}

/* Bike Section End */

/* Clients Review */

.clients-section{
    margin-top: 60px;
    margin-bottom: 80px;
}
.text-color{
    color: #E76F51;
}
.rating{
    
        display: flex;
        justify-content: center ;
        align-items: center;
         color: #FFC014;
    
}
.fa-star.empty{
    color: #AEAEAE;
}
.clients{
    color: #23A6F0;
}
.review img{
    width: 50%;
    height: 149px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
    
}
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
/* Clients Review End*/

/* FQA Section */
.fqa-section{
    margin-top: 120px;
    margin-bottom: 120px;
}
/* FQA Section End*/

/* Subscriber Section */
.subscribe-bg-info{
    background: rgba(38, 70, 83, 0.178);
    margin-top: 70px;
}

.subscribe-btn-buy-now{
    background-color: #E76F51;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 9px 25px;
}

/* Subscriber Section End */